/* Desktop view */

@media(min-width: 992px) {
	.container-about {
		background-image: linear-gradient(to right,#c2e59c,#64b3f4);
		width: 100%;
		height: 25vw;
		margin: 3vw 0 0 0vw;
		box-shadow: 0px 0px 20px black;
	}


	.about {
		position: absolute;
		left: 0;
		font-size: 1.5vw;
		padding: 8vw 40vw 8vw 2vw;
	}

	.work-place {
		position: absolute;
		right: 0;
	}

	#img-place {
		position: relative;
		top: 2.5vw;
		right: 3vw;
		width: 30vw;
		height: auto;
		border: 10px solid black;
	}

	footer {
		position: absolute;
		bottom: 0;
		min-width: 100%;
	}

}

/* Mobile view */

@media(max-width: 992px) {
	.container-about {
		background-image: linear-gradient(to right,#c2e59c,#64b3f4);
		width: 100%;
		height: 150vw;
		margin: 9vw 9vw 9vw 0vw;
		box-shadow: 0px 0px 20px black;
	}


	.about {
		text-align: center;
		font-size: 5vw;
		padding-top: 8vw;
		padding-left: 3vw;
		padding-right: 3vw;
	}

	.work-place {
		position: absolute;
		right: 0;
	}

	#img-place {
		position: absolute;
		right:  -60%;
		width: 90vw;
		height: auto;
		border: 10px solid black;
		margin-top: 40px;
		margin-right: 18px;
	}
}
