
#shopping-cart {
    margin: 40px;
}

#product-grid {
    margin: 40px;
}

.empty_cart {
     text-align:center;
}

#btnEmpty {
    background-color: #ffffff;
    border: #d00000 1px solid;
    padding: 5px 10px;
    color: #d00000;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    margin: 10px 0px;
}

.btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
    margin-bottom: 18px;
}


.clear-float {
    clear: both;
}

.demo-input-box {
    border-radius: 2px;
    border: #CCC 1px solid;
    padding: 2px 1px;
}


.product-title {
    margin-bottom: 20px;
}

.product-price {
    float: left;
}

.cart-action {
    float: right;
}


.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}


.devisible {
    display: none;
}

.box {
    text-align:center;
}

.no-records {
    clear: both;
    margin: 38px 0px;
    font-size: 2vw;
    text-decoration:underline black;
}
