/* Mobile View */

@media (max-width: 576px) {
    .cart_alert {
        position: relative;
        left: 20%;
        max-width: 60%;
    }

    #shopping-cart {
        margin: 1.5vw;
    }
}

@media (max-width: 768px) {
    .cart_alert {
        position: relative;
        left: 20%;
        max-width: 60%;
    }

    #shopping-cart {
        margin: 1.5vw;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .cart_alert {
        position: relative;
        left: 20%;
        max-width: 60%;
    }

    #shopping-cart {
        margin: 1.5vw;
    }
}


/* Tablet View */

@media (min-width: 768px) and (orientation: portrait) {
    .cart_alert {
        position: relative;
        left: 30%;
        max-width: 40%;
    }

    #shopping-cart {
        margin: 1.5vw;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .cart_alert {
        position: relative;
        left: 30%;
        max-width: 40%;
    }

    #shopping-cart {
        margin: 1.5vw;
    }
}

/* Desktop view */

@media (min-width: 992px) and (max-width: 1200px){
    .cart_alert {
        position: relative;
        left: 30%;
        max-width: 40%;
    }

    #shopping-cart {
        margin: 1.5vw;
    }
}

@media (min-width: 1200px) and (max-width: 1600px) {
    .cart_alert {
        position: relative;
        left: 40%;
        max-width: 20%;
    }

    #shopping-cart {
        margin: 1vw;
    }
}

@media (min-width: 1600px) and (max-width: 1900px) {
    .cart_alert {
        position: relative;
        left: 40%;
        max-width: 20%;
    }

    #shopping-cart {
        margin: 1vw;
    }
}

@media (min-width: 1900px) {
    .cart_alert {
        position: relative;
        left: 40%;
        max-width: 20%;
    }

    #shopping-cart {
        margin: 1vw;
    }
}


.empty_cart {
    text-align:center;
}

.buymore {
    float: right;
}

.cart_button {
    text-align:right;
}

.devisible {
    display: none;
}

.box {
    text-align:center;
}



.no-records {
    clear: both;
    margin: 38px 0px;
    font-size: 2vw;
    text-decoration:underline black;
}
