.sidebar-color-head,
.sidebar-color-entry {
    background-color: #1a1e21 !important;
}

.sidebar-color-head {
    color: #fff3cd;
}

.sidebar-color-entry {
    color: #FFFFFF ;
}

nav {
    max-height: 3vw;
}

.navbar {
    background-color: #2D3142 !important;

}

.nav-link {
    color: #FFFFFF !important;
}

#menu-toggle {
    background-color: #EF8354 !important;
    border-color: #EF8354 !important;
    max-height: 2.5vw;
    margin-left: 0.5vw;
}

#my_tickets {
    display: none;
}

#open_ticket {
    display: none;
}

.open_ticket {
    position: relative;
    top: 3vw;
    left: 30vw;
    min-width: 100% !important;
}

#description {
    min-height: 30px;
    resize: none;
}
#download {
    display: none;
    text-align: center;
    max-width: 50%;
}

.download {
    position: relative;
    top: 2vw;
    left: 20vw;
}

