
/* Mobile View */

@media (max-width: 576px) {

}

@media (max-width: 768px) {

}

@media (max-width: 768px) and (orientation: landscape) {

}


/* Tablet View */

@media (min-width: 768px) and (orientation: portrait) {

}

@media (min-width: 992px) {

}

/* Desktop view */

@media (min-width: 1200px) {
    .chat_table {
        position: relative;
        left: 27vw;
        max-width: 50%;
    }


    .start_chat {
        /* color: #FFFFFF;
        background-color: #FFFFFF;
        border-color: #FFFFFF; */
    }
}

@media (min-width: 1900px) {
    .chat_table {
        position: relative;
        left: 27vw;
        max-width: 50%;
        margin-bottom: 5vw;
    }

}