/* Desktop view */

@media (min-width: 992px) {
    .container {
        max-height: 100% !important;
        max-width: 100% !important;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        
    }
    
    .row {
        margin-right: 0;
    }

    #logo {
        height: auto;
        width: 12vw;
        padding-top: 1vw;
    }
}

/* Mobile view */

@media (max-width: 992px) {
    #logo {
        height: auto;
        width: 40vw;
        padding-top: 6vw;
        padding-bottom: 3vw;
    }
}

footer {
    background-color: #2D3142 !important;
}

.fa-facebook {
    color: #4267B2 !important;
}

.fa-instagram {
    color: #C13584 !important;
}

.fa-linkedin-in {
    color: #2867B2 !important;
}

.fa-twitter {
    color: #1DA1F2 !important;
}

.fa-youtube {
    color: #FF0000 !important;
}




