nav {
    margin-bottom: 4vw;
    padding: 0;
    background-color: #2D3142;
    width: 100%;
    border-width: 1px 0;
    font-family: system-ui;
    font-size: 1vw;
    color: #FBFFF4;
    border: 1px solid black;
}

nav ul {
    text-align: right;
    margin-top: -0.5vw;
}

nav li {
    display: inline;
    padding: 0;
    margin: 0;
}

nav a:link,
nav a:visited {
    color: #FBFFF4;
    padding: 1vw 1vw 1vw 1vw;
    width: auto;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

body {
    background-color: #edf6f9;
}

footer {
    margin-top: 4vw;
    padding-bottom: 1px;
    background-color: #2D3142;
    font-family: 'coolveticaregular', Arial, sans-serif;
    font-size: 0.8vw;
    color: #FBFFF4;
}

footer li {
    display: inline;
    margin: 0;
    }

#logo {
    position: relative;
    left: 47.4vw;
    top: 0.6vw;
    margin-bottom: -3.5vw;
    text-align: center;
    width: 10%;
    height: 10%;
}

#logotop {
    width: auto;
    height: 3vw;
    position: absolute;
    left: 0.8vw;
    top: 0.2vw;
}

#email,
#phone {
    float: left;
    padding-right: 1vw;
}

#email a:link,
#email a:visited {
    color: #FBFFF4;
    text-decoration: none;
}

#email a:hover {
    text-decoration: underline;
    text-decoration-color: #fbfff4;
}

#piva {
    text-align: center;
}

#nome_azienda,
#copyright {
    float: right;
    padding-right: 1vw;
}

.social_footer li:last-of-type {
    margin-right: 0;
}

.social_footer .fab {
    font-size: 1.3rem;
    color: #fefefe;
}

.social_footer .fab:hover,
.social_footer .fab:visited {
    color: #ffffff;
    transition: color 0.3s ease-in;
}