/* Mobile view */

@media (max-width: 576px) {
    #logotop {
        width: auto;
        height: 8vw;
        position: relative;
        left: 0.8vw;
        top: 0.2vw;
    }

    .btn-secondary{
        visibility: hidden !important;
        position: relative !important;
        right: auto !important;
        left: 86vw !important;
        color: #FBFFF4 !important;
        background-color: #EF8354 !important;
        border-color: #EF8354 !important;
    }

    .dropdown-menu {
        position: absolute !important;
        right: auto !important;
        left: 83vw !important;
        top: 3vw !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        background-color: #FBFFF4 !important;
    }

    .search {
        display: none !important;
    }

    .search_mobile {
        position: center;
        width: 28vw;
        top: 2.8vw;
        
    }

}

@media (max-width: 768px) {
    #logotop {
        width: auto;
        height: 8vw;
        position: relative;
        left: 0.8vw;
        top: 0.2vw;
    }

    .btn-secondary{
        visibility: hidden !important;
        position: relative !important;
        right: auto !important;
        left: 86vw !important;
        color: #FBFFF4 !important;
        background-color: #EF8354 !important;
        border-color: #EF8354 !important;
    }

    .mobile_menu {
        text-align: center !important;
        max-width: 100% !important;
        margin-right: 0!important;
    }

    .navbar-collapse {
        margin-right: 0;
    }

    .search {
        display: none !important;
    }


    .search_mobile {
        position: absolute;
        left:30vw;
        width: 28vw;
        top: 2.8vw;
    }

    .btn-outline-success {
        position: absolute;
        left: 29vw;
        top: 0;
    }

}

@media (max-width: 768px) and (orientation: landscape) {
    #logotop {
        width: auto;
        height: 6vw;
        position: relative;
        left: 0.8vw;
        top: 0.2vw;
    }

    .btn-secondary{
        visibility: hidden !important;
        position: relative !important;
        right: auto !important;
        left: 86vw !important;
        color: #FBFFF4 !important;
        background-color: #EF8354 !important;
        border-color: #EF8354 !important;
    }

    .mobile_menu {
        text-align: center !important;
        max-width: 100% !important;
        margin-right: 0!important;
    }

    .navbar-collapse {
        margin-right: 0;
    }

    .search {
        display: none !important;
    }


    .search_mobile {
        position: absolute;
        left:30vw;
        width: 28vw;
        top: 2.3vw;
    }

    .btn-outline-success {
        position: absolute;
        left: 29vw;
        top: 0;
    }

}


/* Tablet view */

@media (min-width: 768px) and (orientation: portrait) {
    #logotop {
        width: auto;
        height: 5vw;
        position: relative;
        left: 0.8vw;
        top: 0.2vw;
    }

    .btn-secondary{
        visibility: hidden !important;
        position: relative !important;
        right: auto !important;
        left: 86vw !important;
        color: #FBFFF4 !important;
        background-color: #EF8354 !important;
        border-color: #EF8354 !important;
    }

    .dropdown-menu {
        position: absolute !important;
        right: auto !important;
        left: 83vw !important;
        top: 3vw !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        background-color: #FBFFF4 !important;
    }

    .search {
        display: none !important;
    }


    .search_mobile {
        position: absolute;
        left: 30vw;
        top: 2.2vw;
    }

    .btn-outline-success {
        position: absolute;
        left: 29vw;
        top: 0;
    }

    .mobile_menu {
        position: center !important;
        text-align: center;
        margin-bottom: -1.5vw;
        padding-top: 2.5vw;
    }


}

@media (min-width: 768px) and (max-width: 992px) {

    #logotop {
        width: auto;
        height: 3vw;
        position: relative;
        left: 0.8vw;
        top: 0.2vw;
    }

    .btn-secondary{
        visibility: hidden;
        position: relative !important;
        right: auto !important;
        left: 78vw !important;
        color: #FBFFF4 !important;
        background-color: #EF8354 !important;
        border-color: #EF8354 !important;
    }

    .dropdown-menu {
        position: absolute !important;
        right: auto !important;
        left: 65vw !important;
        top: 4.1vw !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        background-color: #FBFFF4 !important;
    }

    .logged {
        position: absolute !important;
        top: 4.1vw !important;
        left: 67.2vw !important;
        min-width: 20vw !important;
    }

    .search {
        position: absolute !important;
        right: 300px !important;
    }

    .search_mobile {
        display: none;
    }

    .mobile_menu {
        position: center !important;
        text-align: center;
        margin-bottom: -1.5vw;
        padding-top: 2.5vw;
    }

}

/* Desktop view */

@media (min-width: 992px) and (max-width: 1200px) {
    #logotop {
        width: auto;
        height: 5vw;
        position: relative;
        left: 0.8vw;
        top: 0.2vw;
    }

    .btn-secondary{
        position: relative !important;
        right: auto !important;
        left: 74vw !important;
        color: #FBFFF4 !important;
        background-color: #EF8354 !important;
        border-color: #EF8354 !important;
    }

    .dropdown-menu {
        position: absolute !important;
        right: auto !important;
        left: 60vw !important;
        top: 4.3vw !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        background-color: #FBFFF4 !important;
    }

    .search {
        display: none !important;
    }


    .search_mobile {
        position: absolute;
        left: 30vw;
        top: 2.2vw;
    }

    .btn-outline-success {
        position: absolute;
        left: 29vw;
        top: 0;
    }

    .mobile_menu {
        display: none;
    }

}

@media (min-width: 1200px) and (max-width: 1600px) {
    #logotop {
        width: auto;
        height: 2.5vw;
        position: relative;
        left: 0.8vw;
        top: 0.2vw;
    }

    .btn-secondary {
        position: relative !important;
        right: auto !important;
        left: 81.7vw !important;
        color: #FBFFF4 !important;
        background-color: #EF8354 !important;
        border-color: #EF8354 !important;
    }

    .dropdown-menu {
        position: absolute !important;
        right: auto !important;
        left: 71vw !important;
        top: 3vw !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        background-color: #FBFFF4 !important;
    }

    .logged {
        position: absolute !important;
        left: 73.6vw !important;
        top: 2.8vw !important;
        margin-top: 0.5rem;
        min-width: 10vw !important;
    }

    .search {
        position: absolute !important;
        right: 300px !important;
    }

    .search_mobile {
        display: none;
    }

    .mobile_menu {
        display: none;
    }
}


@media (min-width: 1600px) and (max-width: 1900px){
    #logotop {
        width: auto;
        height: 2.5vw;
        position: relative;
        left: 0.8vw;
        top: 0.2vw;
    }

    .btn-secondary{
        position: relative !important;
        right: auto !important;
        left: 84.7vw !important;
        color: #FBFFF4 !important;
        background-color: #EF8354 !important;
        border-color: #EF8354 !important;
    }

    .dropdown-menu {
        position: absolute !important;
        right: auto !important;
        left: 77vw !important;
        top: 2.5vw !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        background-color: #FBFFF4 !important;
    }

    .logged {
        position: absolute !important;
        left: 79.2vw !important;
        top: 2.3vw !important;
        margin-top: 0.5rem;
        min-width: 10vw !important;
    }

    .search {
        position: absolute !important;
        right: 300px !important;
    }

    .search_mobile {
        display: none;
    }

    .mobile_menu {
        display: none;
    }

}

@media (min-width: 1900px) {
    #logotop {
        width: auto;
        height: 2.5vw;
        position: relative;
        left: 0.8vw;
        top: 0.1vw;
    }

    .btn-secondary{
        position: relative !important;
        right: auto !important;
        left: 85vw !important;
        color: #FBFFF4 !important;
        background-color: #EF8354 !important;
        border-color: #EF8354 !important;
    }

    .dropdown-menu {
        position: absolute !important;
        right: auto !important;
        left: 83.7vw !important;
        top: 2.5vw !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        background-color: #FBFFF4 !important;
        margin: 0.125rem -8rem 0 !important;
    }

    .logged {
        position: absolute !important;
        left: 86.5vw !important;
        top: 2.5vw !important;
        width: 10vw;

    }

    .search {
        position: absolute !important;
        right: 300px !important;
    }

    .search_mobile {
        display: none;
    }

    .mobile_menu {
        display: none;
    }
}

.navbar {
    background-color: #2D3142 !important;
}

.btn-primary {
    color: #FBFFF4 !important;
    background-color: #EF8354 !important;
    border-color: #EF8354 !important;
}

/* Animation */

nav {
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#logotop:hover {
    left: 1.3vw;
    transition: left 0.3s ease;
}

#logotop {
    transition: left 0.3s ease;
}