/* Mobile View */

@media (max-width: 576px) {

}

@media (max-width: 768px) {
    .platform {
        position: relative;
        left: 0vw;
        max-width: 98.6% !important;
    }

    .mx-5 {
        margin-left: 15vw !important;
        margin-right: 17vw !important;
    }

    .win {
        position: relative;
        left: 10vw;
        width: 70%;
        height: auto;
    }

    .linux {
        position: relative;
        left: 14vw;
        width: 55%;
        height: auto;
    }

    .macos {
        position: relative;
        left: 10vw;
        width: 70%;
        height: auto;
    }

    .android {
        position: relative;
        left: 14vw;
        width: 55%;
        height: auto;
    }

    .card {
        font-size: 5vw;
        height: 150vw !important;
        width: 65vw !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        background-color: #FBFFF4;
        border-color: #EF8354;
    }

    .card-img-top {
        padding-top: 0.4vw;
    }

}

@media (max-width: 768px) and (orientation: landscape) {

}


/* Tablet View */

@media (min-width: 768px) and (orientation: portrait) {
    
}

@media (min-width: 768px) and (max-width: 992px) {
    .platform {
        position: absolute;
        left: 5vw;
        max-width: 98.6% !important;
    }

    .mx-5 {
        margin-left: 3vw !important;
        margin-right: 3vw !important;
    }

    .win {
        position: relative;
        left: 2vw;
        width: 70%;
        height: auto;
    }

    .linux {
        position: relative;
        left: 3.3vw;
        width: 55%;
        height: auto;
    }

    .macos {
        position: relative;
        left: 2.2vw;
        width: 70%;
        height: auto;
    }

    .android {
        position: relative;
        left: 3.2vw;
        width: 55%;
        height: auto;
    }

    .card {
        font-size: 0.7vw;
        height: 24vw !important;
        width: 15vw !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        background-color: #FBFFF4;
        border-color: #EF8354;
    }

    .card-img-top {
        padding-top: 0.4vw;
    }

    footer {
        position: absolute;
        bottom: 0;
        min-width: 100%;
    }
}


/* Desktop view */

@media (min-width: 992px) and (max-width: 1200px) {
    .platform {
        position: absolute;
        left: 2vw;
        max-width: 98.6% !important;
    }

    .mx-5 {
        margin-left: 3vw !important;
        margin-right: 3vw !important;
    }

    .win {
        position: relative;
        left: 2vw;
        width: 70%;
        height: auto;
    }

    .linux {
        position: relative;
        left: 3.3vw;
        width: 55%;
        height: auto;
    }

    .macos {
        position: relative;
        left: 2.2vw;
        width: 70%;
        height: auto;
    }

    .android {
        position: relative;
        left: 3.2vw;
        width: 55%;
        height: auto;
    }

    .card {
        font-size: 0.7vw;
        height: 24vw !important;
        width: 15vw !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        background-color: #FBFFF4;
        border-color: #EF8354;
    }

    .card-img-top {
        padding-top: 0.4vw;
    }

    footer {
        position: absolute;
        bottom: 0;
        min-width: 100%;
    }

}

@media (min-width: 1200px) and (max-width: 1600px) {
    .platform {
        position: absolute;
        left: 2vw;
        max-width: 98.6% !important;
    }

    .win {
        position: relative;
        left: 2vw;
        width: 70%;
        height: auto;
    }

    .linux {
        position: relative;
        left: 3.3vw;
        width: 55%;
        height: auto;
    }

    .macos {
        position: relative;
        left: 2.2vw;
        width: 70%;
        height: auto;
    }

    .android {
        position: relative;
        left: 3.2vw;
        width: 55%;
        height: auto;
    }

    .card {
        font-size: 0.7vw;
        height: 24vw !important;
        width: 15vw !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        background-color: #FBFFF4;
        border-color: #EF8354;
    }

    .card-img-top {
        padding-top: 0.4vw;
    }

    footer {
        position: absolute;
        bottom: 0;
        min-width: 100%;
    }

}

@media (min-width: 1600px) and (max-width: 1900px) {
    .platform {
        position: absolute;
        left: 9vw;
        max-width: 98.6% !important;
    }

    .win {
        position: relative;
        left: 2vw;
        width: 70%;
        height: auto;
    }

    .linux {
        position: relative;
        left: 3.3vw;
        width: 55%;
        height: auto;
    }

    .macos {
        position: relative;
        left: 2.2vw;
        width: 70%;
        height: auto;
    }

    .android {
        position: relative;
        left: 3.2vw;
        width: 55%;
        height: auto;
    }


    .card {
        font-size: 0.7vw;
        height: 24vw !important;
        width: 15vw !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        background-color: #FBFFF4;
        border-color: #EF8354;
    }

    .card-img-top {
        padding-top: 0.4vw;
    }

    footer {
        position: absolute;
        bottom: 0;
        min-width: 100%;
    }

}

@media (min-width: 1900px) {
    .platform {
        position: absolute;
        left: 11vw;
        max-width: 98.6% !important;
    }

    .win {
        position: relative;
        left: 2vw;
        width: 70%;
        height: auto;
    }

    .linux {
        position: relative;
        left: 3.3vw;
        width: 55%;
        height: auto;
    }

    .macos {
        position: relative;
        left: 2.2vw;
        width: 70%;
        height: auto;
    }

    .android {
        position: relative;
        left: 3.2vw;
        width: 55%;
        height: auto;
    }

    .card {
        font-size: 0.7vw;
        height: 24vw !important;
        width: 15vw !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        background-color: #FBFFF4;
        border-color: #EF8354;
    }

    .card-img-top {
        padding-top: 0.4vw;
    }

    footer {
        position: absolute;
        bottom: 0;
        min-width: 100%;
    }

}