/* Desktop view */

@media (min-width: 992px) {
    .container {
        max-height: 100% !important;
        max-width: 100% !important;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .price {
        padding-left: 29vw;
    }
    
    
    .mob {
        display: none;
    }
    
    .price-title-mobile {
        display: none;
    }
}

/* Mobile view */

@media (max-width: 992px) {
    .container {
        max-height: 100% !important;
        max-width: 100% !important;
        margin-right: 0 !important;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
        
    }
    

    .mobile-price {
        
    }
    
    .price {
        display: none;
    }
    
    .row {
       padding: 0 6vw 0 9vw;
    }

    .icon-bar,
    .icon-bar a,
    .icon-bar a:hover,
    .facebook,
    .twitter,
    .google,
    .linkedin,
    .youtube,
    .content {
        display: none;
    }

    .price-title-desktop {
        display: none;
    }
}

.devisible {
    display: none;
}

.row {
    margin-right: 0;
}

.card {
    border-radius: 1.5rem;
}

.card-header {
    color: white;
    background-color: #EF8354;
}

.card-body {
    background-color: #FBFFF4;
    border: inherit;
    border-radius: 0 0 1.5rem 1.5rem ;
}

.card-header:first-child {
    border-radius: 1.5rem 1.5rem 0 0;
}


.btn-check:focus + .btn-primary, .btn-primary:focus {
    box-shadow: none;
}

.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem #EF8354;
}

.btn-outline-primary {
    
}

.btn-outline-primary:hover {
    
}

#product-list-category {
    font-family: -apple-system;
}

#product-list-description {
    font-family: -apple-system;
}