/* Mobile view */

@media (max-width: 576px) {
    .container {
        max-height: 100% !important;
        max-width: 90% !important;
        margin-right: 0 !important;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;

    }

    .mobile-price {

    }

    .price {
        display: none;
    }

    .col {
        min-width: 24% !important;
        position: relative;
        left: 1vw !important;
    }

    .price-title-desktop {
        display: none;
    }
}

@media (max-width: 768px) {
    .container {
        max-height: 100% !important;
        max-width: 100% !important;
        margin-right: 0 !important;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;

    }

    .mob {
        max-width: 97% !important;
    }

    .price {
        display: none;
    }

    .col {
        min-width: 24% !important;
        position: relative;
        left: 4vw !important;
    }

    .price-title-desktop {
        display: none;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .container {
        max-height: 100% !important;
        max-width: 100% !important;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .col {
        min-width: 55% !important;
        position: relative !important;
        left: 23vw !important;
    }

    .price {
        display: none;
    }


    .price-title-desktop {
        display: none;
    }

}

/* Tablet view */

@media (min-width: 768px) and (orientation: portrait) {
    .container {
        max-height: 100% !important;
        max-width: 100% !important;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .col {
        min-width: 28%;
        position: relative;
        left: 9vw;
    }

    .price {
        display: none;
    }


    .price-title-desktop {
        display: none;
    }

}

@media (min-width: 992px) {
    .container {
        max-height: 100% !important;
        max-width: 100% !important;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .price {
        margin-left: 0vw;
    }

    .col {
        min-width: 22%;
        position: relative;
        left: 18vw;
    }

    .mob {
        display: none;
    }

    .price-title-mobile {
        display: none;
    }
}

/* Desktop view */

@media (min-width: 1200px) {
    .container {
        max-height: 100% !important;
        max-width: 100% !important;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .price {
        margin-left: 0vw;
        padding-left: 29vw;
    }

    .col {
        min-width: 22%;
        position: relative;
        left: 0vw;
    }

    .mob {
        display: none;
    }

    .price-title-mobile {
        display: none;
    }
}

@media (min-width: 1900px) {
    .container {
        max-height: 100% !important;
        max-width: 100% !important;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .price {
        margin-left: 0vw;
        padding-left: 29vw;
    }

    .col {
        min-width: 22%;
        position: relative;
        left: 0vw;
    }

    .mob {
        display: none;
    }

    .price-title-mobile {
        display: none;
    }
}

.devisible {
    display: none;
}

.row {
    margin-right: 0;
}

.card {
    border-radius: 1.5rem;
}

.card-header {
    color: white;
    background-color: #EF8354;
}

.card-body {
    background-color: #FBFFF4;
    border: inherit;
    border-radius: 0 0 1.5rem 1.5rem ;
}

.card-header:first-child {
    border-radius: 1.5rem 1.5rem 0 0;
}


.btn-check:focus + .btn-primary, .btn-primary:focus {
    box-shadow: none;
}

.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem #EF8354;
}

.btn-outline-primary {
    
}

.btn-outline-primary:hover {
    
}

#product-list-category {
    font-family: -apple-system;
}

#product-list-description {
    font-family: -apple-system;
}