@font-face {
    font-family: 'bebas_neueregular';
    src: local("bebasneue-regular-webfont.woff2") format('woff2'),
         local("bebasneue-regular-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;

}